@media (min-width: 992px) {
    @media (max-width: 1200px) {
        .container {
            position: absolute;
        }
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
